* {
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
}

body {
  background-image: url("background.png");
  background-blend-mode: multiply;
  background-size: cover;
  background-color: #ce9c9d;
}

.wrapper {
  width: 70vw;
  min-height: 95vh;
  margin: 10px auto;
  padding: 1px 30px;
  border-radius: 1%;
  box-shadow: 0px 0px 20px #474747a1;
  background-color: #f8e6e6;
}

h1 {
  font-family: "Pacifico", cursive;
  font-weight: lighter;
  font-size: 56px;
  text-align: center;
  margin: 10px 0;
}

img {
  display: block;
  max-width: 550px;
  margin: 20px auto;
  box-shadow: 0px 0px 10px #474747a1;
  border-radius: 2%;
}

h2 {
  width: 85%;
  margin: 0 auto;
  text-align: center;
  text-justify: inter-word;
}

.ingredients,
.steps {
  display: inline-block;
  margin-top: 10px;
  padding: 0 10px 30px 10px;
  vertical-align: top;
  text-align: justify;
  text-justify: inter-word;
}

.ingredients {
  width: 29%;
}

.steps {
  width: 69%;
}

ul,
ol {
  font-size: large;
  line-height: 1.3;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a:link,
a:visited {
  color: black;
}

a:hover {
  color: #8d4d4e;
  text-shadow: 0px 0px 5px #4747474b;
}
